.about-me {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-me__heading {
  padding-left: 10px;
}

.about-me__content {
  display: flex;
  flex-direction: row;
}

.about-me__image-container {
  height: 450px;
  width: 450px;
  object-fit: cover;
  border: none;
}

.about-me__image {
  height: 450px;
  width: 450px;
  object-fit: cover;
  object-position: bottom;
  border-radius: 10px;
}

.about-me__description {
  padding-left: 40px;
}
