.nav {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.nav__logo {
  width: 100px;
  height: 100px;
}

.nav__links {
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0px;
  column-gap: 40px;
}

.nav__link {
  text-decoration: none;
  font-size: 30px;
  line-height: 1;
}

.nav__link:hover {
  opacity: 0.5;
  transition-duration: 0.4s;
}
