.portfolio {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 3rem;
  gap: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #96908a;
}

.portfolio__title {
  margin: 0 0 10px;
  text-decoration: underline;
  font-size: 1.4rem;
}

.portfolio__list {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolio__list-link {
  display: inline-block;
  color: #d5d5d5;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0 0 0.4rem;
}

.portfolio__list-link:hover {
  opacity: 0.7;
  transform: scale(1.02);
  cursor: pointer;
}

.portfolio__list-link:visited {
  color: #d5d5d5;
}

.portfolio__project-name {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: #252528;
}

.portfolio__project-description {
  font-size: 1rem;
  margin: 0;
}

@media screen and (max-width: 870px) {
  .portfolio__title {
    font-size: 1.2rem;
  }
  .portfolio__list-link {
    font-size: 0.9rem;
  }

  .portfolio__project-description {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 730px) {
  .portfolio {
    padding: 0 2rem;
  }

  .portfolio__title {
    font-size: 1rem;
    margin: 0;
  }
  .portfolio__list-link {
    font-size: 0.8rem;
  }

  .portfolio__project-description {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 480px) {
  .portfolio__title {
    font-size: 0.9rem;
  }
  .portfolio__list-link {
    font-size: 0.7rem;
  }

  .portfolio__project-description {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 375px) {
  .portfolio__title {
    font-size: 0.8rem;
  }
  .portfolio__list-link {
    font-size: 0.65rem;
    padding: 0 0 0.2rem;
  }

  .portfolio__project-description {
    font-size: 0.55rem;
  }
}
