html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.page {
  width: 100%;
  min-height: 100vh;
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
  font-weight: 500;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #d5d5d5;
  position: relative;
}

.page__snap-section {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

.page__footer {
  scroll-snap-align: none;
}
