html,
body {
  height: 100%;
  margin: 0;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.main {
  display: flex;
  flex-direction: column;
}

.main > * {
  height: 100vh;
  scroll-snap-align: start;
}
