.nav__btns {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 0;
}

.nav__list-item {
  list-style-type: none;
  padding: 20px;
}

.nav__btn {
  padding: 10px;
  border: 1.5px solid #463737;
  border-radius: 8px;
  background-color: #a18888f0;
  color: #fff;
}

.nav__btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .nav__btns {
    font-size: 18px;
  }

  .nav__btn {
    width: 120px;
    height: 70px;
  }
}
