@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

.circle {
  background: #804f45;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
  z-index: 1;
}

.circle_top-left {
  top: -140px;
  left: -129px;
}

.circle_top-right {
  top: -140px;
  right: -129px;
}

.circle_bottom-left {
  bottom: -270px;
  left: -129px;
}

.circle_bottom-right {
  bottom: -270px;
  right: -129px;
}

.circle__animation_blurred {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #804f45;
  animation: pulsate 1.3s ease-in-out 0s infinite;
  z-index: 0;
}

.footer__circle {
  background: #a18888f0;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  right: 0px;
}

@media screen and (max-width: 890px) {
  .circle_top-left {
    top: -135px;
    left: -129px;
  }
}

@media screen and (max-width: 840px) {
  .circle {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 750px) {
  .circle {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 630px) {
  .circle {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 550px) {
  .circle {
    transform: scale(0.6);
  }
}
