.nav__mobile-btn {
  display: none;
}

@media screen and (max-width: 425px) {
  .nav__mobile-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: #d5d5d5 url(../../assets/mobile-nav-btn.svg) no-repeat center;
    width: 44px;
    height: 44px;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  }
}
