.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #252528;
  height: auto;
  scroll-snap-align: none;
  font-size: 0.8rem;
  /* border-top: 0.3rem solid #804f45; */
}

.footer__contact-container {
  display: flex;
  flex-direction: column;
}

.footer__contact-header {
  margin: 0 0 0.2rem;
}

.footer__contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__contact-link {
  color: #d5d5d5;
}

.footer__contact-link:hover {
  cursor: pointer;
  opacity: 0.8;
}

.footer__developer-container {
  display: flex;
}

.footer__author {
  margin: 0;
}

.footer__year {
  margin: 0;
}

@media screen and (max-width: 760px) {
  .footer {
    padding: 30px;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 660px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__contact-container {
    padding: 0 0 0.4rem;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    padding: 2rem 1rem;
    font-size: 0.6rem;
  }
}
