.experience {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 3rem;
  gap: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #804f45;
}

.experience__title {
  margin: 0;
  padding: 0 0 20px;
  text-decoration: underline;
  font-size: 1.4rem;
}

.experience__list {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.experience__name {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: #252528;
  margin: 0 0 0.4rem 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.experience__description-list {
  margin: 0;
}

.experience__description-list-item {
  font-size: 1rem;
  margin: 0 0 0.2rem 0;
}

@media screen and (max-width: 770px) {
  .experience__title {
    font-size: 1.1rem;
    padding: 0 0 10px;
  }

  .experience__name {
    font-size: 0.9rem;
  }

  .experience__description-list {
    padding-left: 1.3rem;
  }

  .experience__description-list-item {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 660px) {
  .experience {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 550px) {
  .experience__title {
    font-size: 1rem;
  }

  .experience__name {
    font-size: 0.8rem;
  }

  .experience__description-list {
    padding-left: 1rem;
  }

  .experience__description-list-item {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 375px) {
  .experience__title {
    font-size: 0.8rem;
    padding: 0;
  }

  .experience__name {
    font-size: 0.7rem;
  }

  .experience__description-list {
    padding-left: 0.7rem;
  }

  .experience__description-list-item {
    font-size: 0.55rem;
  }
}
