.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2rem;
  padding: 1rem 1.5rem;
}

.nav__btns-list {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 1.2rem;
  margin: 0;
}

.nav__btns-list-item {
  list-style: none;
}

.nav__btn {
  border: none;
  color: #804f45;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
}

.nav__btn:hover {
  opacity: 0.8;
  cursor: pointer;
  transform: scale(1.07);
}

@media screen and (max-width: 770px) {
  .nav__btn {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 670px) {
  .nav {
    padding: 0.9rem 1rem;
  }

  .nav__btn {
    font-size: 0.8rem;
  }

  .nav__btns-list {
    gap: 0.8rem;
  }
}

@media screen and (max-width: 550px) {
  .nav__btn {
    font-size: 0.65rem;
  }
}
