.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2rem;
  padding: 1rem;
}

.nav__btns-list {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 1rem;
  margin: 0;
}

.nav__btns-list-item {
  list-style: none;
}

.nav__btn {
  padding: 8px;
  border: 1.5px solid #5d4b4b;
  border-radius: 4px;
  background-color: #a18888f0;
  color: #d5d5d5;
  text-decoration: none;
}

.nav__btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* @media screen and (max-width: 700px) {
  .nav__btns {
  }

  .nav__btn {
  }
} */
