.about-me {
  margin: 0;
  padding: 1rem 3rem 5.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.about-me__image-container {
  width: 300px;
  height: 300px;
}

.about-me__image {
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.about-me__text {
  flex-direction: column;
  margin: 0 0 0 20px;
}

.about-me__title {
  margin: 0 0 10px;
  text-decoration: underline;
  font-size: 1.2rem;
}

.about-me__paragraph {
  margin: 0;
  overflow-wrap: normal;
  font-size: 0.9rem;
  line-height: 1.3;
}

@media screen and (max-width: 1120px) {
  .about-me {
    padding: 1rem 3rem 6rem;
  }

  .about-me__image-container {
    width: 280px;
    height: 280px;
  }

  .about-me__paragraph {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1020px) {
  .about-me {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem 4rem;
  }

  .about-me__text {
    margin: 0;
  }

  .about-me__title {
    margin: 10px 0;
  }

  .about-me__image-container {
    width: 250px;
    height: 250px;
  }

  .about-me__paragraph {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 840px) {
  .about-me {
    padding: 1rem 2rem 4rem;
  }

  .about-me__image-container {
    width: 230px;
    height: 230px;
  }

  .about-me__title {
    font-size: 1rem;
  }

  .about-me__paragraph {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 770px) {
  .about-me {
    padding: 0.5rem 2rem 4rem;
  }

  .about-me__paragraph {
    font-size: 0.65rem;
  }

  .about-me__image-container {
    width: 190px;
    height: 190px;
  }
}

@media screen and (max-width: 560px) {
  .about-me {
    padding: 0.5rem 2rem 3rem;
  }

  .about-me__title {
    font-size: 0.9rem;
    margin: 0.6rem 0;
  }

  .about-me__paragraph {
    font-size: 0.6rem;
  }

  .about-me__image-container {
    width: 180px;
    height: 180px;
  }
}

@media screen and (max-width: 425px) {
  .about-me__title {
    font-size: 0.8rem;
  }

  .about-me__image-container {
    width: 160px;
    height: 160px;
  }
}

@media screen and (max-width: 375px) {
  .about-me__paragraph {
    font-size: 0.5rem;
  }

  .about-me__image-container {
    width: 130px;
    height: 130px;
  }
}
