.about-me {
  margin: 0;
  padding: 1rem 1.5rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: #96908a;
}

.about-me__image-container {
  width: 300px;
  height: 300px;
}

.about-me__image {
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.about-me__text {
  flex-direction: column;
  margin-left: 20px;
}

.about-me__title {
  margin: 0 0 10px;
  text-decoration: underline;
  font-size: 1.2rem;
}

.about-me__paragraph {
  margin: 0;
  overflow-wrap: normal;
  font-size: 0.9rem;
  line-height: 1.3;
}
